# Node modules & Angular build
node_modules/
dist/
# Java target directory
target/
# OS-specific
.DS_Store
Thumbs.db
# Logs
*.log
# IDEs
.vscode/
.idea/
# PowerShell or batch files (si tu veux pas les versionner)
*.ps1
*.bat
